<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ preload }}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/css/site.css">
</head>
<body>
    <header>
        <h1>{{ header_title }}</h1>
        <p>{{ header_subtitle }}</p>
    </header>

    <nav>
        {{ nav }}
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        {{ footer }}
        <p>&copy; 2026 Ryan Pek</p>
    </footer>
</body>
</html>
